.login-body {
  background: #54a3ff !important;
}

.login {
  text-align: center;
  text-align: -webkit-center;
  padding-top: 10em;

  .title {
    h1 {
      font-size: 4.5rem;
      font-family: 'Sofadi One', cursive;
      font-weight: 500;
      color: #72e095;

      @media screen and (max-width: 721px) {
        font-size: 2.3rem;
      }
    }
  }

  .login-form {
    margin-top: 5em;
    text-align: center;
    text-align: -webkit-center;

    form {
      width: 20em;

      .warning-message {
        color: #e20000 !important;
        margin-top: -18px;
        text-align: left;

        &.special {
          margin: 0;
          text-align: center;
        }
      }

      .customed {
        input {
          background: transparent;
          color: #ffffff;
          border-radius: 0;
          border: none;
          border-bottom: 1px solid #ffffff;

          &::placeholder {
            color: #ffffff !important;
            opacity: 1;
          }
          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
             color: #ffffff !important;
          }

          &::-ms-input-placeholder { /* Microsoft Edge */
             color: #ffffff !important;
          }
          &:focus {
            outline: none !important;
            box-shadow: none !important;
            font-size: 1rem;
            transition: font-size 1s;
          }

        }
      }

      .customed-logo {
        span {
          background: transparent;
          color: #ffffff;
          border-radius: 0;
          border: none;
          border-bottom: 1px solid #ffffff;
        }
      }

      .customed-button {
        margin-top: 1.7em;
        .make-oval {
          border-radius: 20px;
          width: 9.8em;
        }
      }
    }
  }
}
